html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* - *Typefaces:* `Merriweather` (regular, italic)
- *Text sizes:* `1.5rem`, `1.8rem`
- *Line-heights:* `1.5`
- *Margins:* `1rem`, `1.5rem`
- *Paddings:* `1rem`, `1.5rem`
- *Gaps:* `.75rem` */

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1   col2   col3"
}

img {
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-style: italic;
  font-weight: normal;
}

h2 {
  font-style: italic;
  font-weight: normal;
}

.banner{
  grid-area: banner;
}

.banner-text {
  grid-area: banner;
  align-self: end;
}


.column1
