html {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* - *Typefaces:* `Merriweather` (regular, italic)
- *Text sizes:* `1.5rem`, `1.8rem`
- *Line-heights:* `1.5`
- *Margins:* `1rem`, `1.5rem`
- *Paddings:* `1rem`, `1.5rem`
- *Gaps:* `.75rem` */

img {
  width: 100%;
}

body {
  margin: 0;
}

header {
  font-style: italic;
}
